.cards {
    background: #fff;
    padding-top: 46px;
    padding-bottom: 50px;
    @media screen and (min-width: 767px) {
        padding-top: 83px;
    }
    @media screen and (min-width: 1110px) {
        padding-top: 0;
        padding-bottom: 60px;
    }

    // .cards__title
    &__title {
        @media screen and (min-width: 424px) {
            margin-bottom: 15px;
        }
        @media screen and (min-width: 767px) {
            margin-bottom: 52px;
        }
        @media screen and (min-width: 1150px) {
            margin-bottom: 40px;
        }
    }

    // .cards__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    // .cards__item
    &__item {
        max-width: 280px;
        min-height: 185px;
        border: 1px solid #C9D6E0;
        border-radius: 3px;
        display: flex;
        align-items: center;
        margin-top: 25px;
        transition: all .3s;
        @media screen and (min-width: 424px) {
            margin: 15px;
        }
        @media screen and (min-width: 767px) {
            max-width: 330px;
            min-height: 202px;
            padding-right: 33px;
        }
        @media screen and (min-width: 1150px) {
            max-width: 350px;
            &:first-child, &:nth-child(4) {
                margin-left: 0;
            }
            &:nth-child(3), &:nth-child(6) {
                margin-right: 0;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    // .cards__image
    &__image {
        flex: 0 0 76px;
        margin: 0 26px 0 19px;
        @media screen and (min-width: 1150px) {
            margin-right: 50px;
        }
    }

    // .cards__image-img
    &__image-img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;   
    }
    // .cards__text

    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $heads-color;
    }
    // .cards__text-txt
    // &__text-txt {
    // }
}
