.head {
    background: linear-gradient(0deg, #F2FAFF 0%, rgba(255, 255, 255, 0) 97%);
    @media screen and (min-width: 1110px) {
        padding-bottom: 77px;
    }
}
.header {
    padding: 14px 0 0 0;

		// .header__menu
		&__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		// .header__menu-logo

		// &__menu-logo {
		// }

		// .header__menu-link

		&__menu-link {
            display: inline-block;
            line-height: 0;
            padding: 9px 11px;
            background: linear-gradient(246.63deg, #0452F0 15.09%, #02D1BF 84.91%);
            border-radius: 2px;
            @media screen and (min-width: 767px) {
                padding: 12px 13px;
                border-radius: 5px;
            }
		}
        .link-mail {
            display: inline-block;
            @media screen and (min-width: 767px) {
                display: none;
            }

        }
        .text-mail {
            display: none;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #fff;
            @media screen and (min-width: 767px) {
                display: inline-block;
            }
        }
}

.main {
    @media screen and (min-width: 1110px) {
        display: flex;
    }

    // .main__body
    &__body {
        margin-bottom: 56px;
        margin-top: 67px;
        @media screen and (min-width: 767px) {
            margin-top: 155px;
        }
        @media screen and (min-width: 1110px) {
            margin-top: 190px;
        }
    }

    // .main__body-title
    &__body-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 19px;
        @media screen and (min-width: 424px) {
            font-size: 30px;
        }
        @media screen and (min-width: 767px) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    // .main__body-text
    &__body-text {
        font-weight: 300;
        max-width: 240px;
        @media screen and (min-width: 424px) {
            max-width: 360px;
            font-size: 20px;
        }
        @media screen and (min-width: 767px) {
            font-size: 24px;
            line-height: 36px;
            max-width: 505px;
        }
    }

    // .main__image
    &__image {
        min-width: 280px;
        padding-bottom: 56px;
        @media screen and (min-width: 767px) {
            max-width: 612px;
            margin-left: auto;
            overflow-x: hidden;
            padding-bottom: 41px;
            margin-top: -78px;
            
        }
        @media screen and (min-width: 1110px) {
            padding-bottom: 8px;
            margin-top: 0px;
        }
        img {
            width: 100%;
            @media screen and (min-width: 767px) {
                position: relative;
                right: -112px;
            }
            @media screen and (min-width: 1110px) {
                position: static;
                display: inline-block;
                right: 0;
                margin: 19px 0px 0 40px;
            }
        }
    }
}

