/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  // дефолтные стили

  $primary-color: #291E56;
  $heads-color: #050649;
  $secondary-color: #8282A4;

  body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 20px;
    min-width: 320px;
    overflow-x: hidden;
    color: $primary-color;
  }

  .container {
    padding: 0 20px;
    max-width: 1150px;
    margin: 0 auto;
}

.default-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: $heads-color;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 424px) {
    font-size: 24px;
  }
  @media screen and (min-width: 767px) {
    font-size: 30px;
    line-height: 37px;
  }
}
