@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 20px;
  min-width: 320px;
  overflow-x: hidden;
  color: #291E56;
}

.container {
  padding: 0 20px;
  max-width: 1150px;
  margin: 0 auto;
}

.default-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #050649;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 424px) {
  .default-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 767px) {
  .default-title {
    font-size: 30px;
    line-height: 37px;
  }
}

.head {
  background: -webkit-gradient(linear, left bottom, left top, from(#F2FAFF), color-stop(97%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #F2FAFF 0%, rgba(255, 255, 255, 0) 97%);
  background: linear-gradient(0deg, #F2FAFF 0%, rgba(255, 255, 255, 0) 97%);
}

@media screen and (min-width: 1110px) {
  .head {
    padding-bottom: 77px;
  }
}

.header {
  padding: 14px 0 0 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-link {
  display: inline-block;
  line-height: 0;
  padding: 9px 11px;
  background: -o-linear-gradient(203.37deg, #0452F0 15.09%, #02D1BF 84.91%);
  background: linear-gradient(246.63deg, #0452F0 15.09%, #02D1BF 84.91%);
  border-radius: 2px;
}

@media screen and (min-width: 767px) {
  .header__menu-link {
    padding: 12px 13px;
    border-radius: 5px;
  }
}

.header .link-mail {
  display: inline-block;
}

@media screen and (min-width: 767px) {
  .header .link-mail {
    display: none;
  }
}

.header .text-mail {
  display: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

@media screen and (min-width: 767px) {
  .header .text-mail {
    display: inline-block;
  }
}

@media screen and (min-width: 1110px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main__body {
  margin-bottom: 56px;
  margin-top: 67px;
}

@media screen and (min-width: 767px) {
  .main__body {
    margin-top: 155px;
  }
}

@media screen and (min-width: 1110px) {
  .main__body {
    margin-top: 190px;
  }
}

.main__body-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 19px;
}

@media screen and (min-width: 424px) {
  .main__body-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 767px) {
  .main__body-title {
    font-size: 40px;
    line-height: 50px;
  }
}

.main__body-text {
  font-weight: 300;
  max-width: 240px;
}

@media screen and (min-width: 424px) {
  .main__body-text {
    max-width: 360px;
    font-size: 20px;
  }
}

@media screen and (min-width: 767px) {
  .main__body-text {
    font-size: 24px;
    line-height: 36px;
    max-width: 505px;
  }
}

.main__image {
  min-width: 280px;
  padding-bottom: 56px;
}

@media screen and (min-width: 767px) {
  .main__image {
    max-width: 612px;
    margin-left: auto;
    overflow-x: hidden;
    padding-bottom: 41px;
    margin-top: -78px;
  }
}

@media screen and (min-width: 1110px) {
  .main__image {
    padding-bottom: 8px;
    margin-top: 0px;
  }
}

.main__image img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .main__image img {
    position: relative;
    right: -112px;
  }
}

@media screen and (min-width: 1110px) {
  .main__image img {
    position: static;
    display: inline-block;
    right: 0;
    margin: 19px 0px 0 40px;
  }
}

.about {
  background-color: #E7F4FF;
}

@media screen and (min-width: 1110px) {
  .about {
    background-color: unset;
  }
}

.about__box {
  background-color: #E7F4FF;
  text-align: center;
  padding: 46px 5px 52px 5px;
}

@media screen and (min-width: 767px) {
  .about__box {
    padding: 71px 0 75px 0;
  }
}

@media screen and (min-width: 1110px) {
  .about__box {
    position: relative;
    top: -86px;
  }
}

.about__title {
  margin-bottom: 25px;
}

.about__text {
  font-weight: 400;
  line-height: 24px;
}

@media screen and (min-width: 424px) {
  .about__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 767px) {
  .about__text {
    line-height: 30px;
  }
}

@media screen and (min-width: 1110px) {
  .about__text {
    max-width: 920px;
    margin: 0 auto;
  }
}

.cards {
  background: #fff;
  padding-top: 46px;
  padding-bottom: 50px;
}

@media screen and (min-width: 767px) {
  .cards {
    padding-top: 83px;
  }
}

@media screen and (min-width: 1110px) {
  .cards {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 424px) {
  .cards__title {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 767px) {
  .cards__title {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1150px) {
  .cards__title {
    margin-bottom: 40px;
  }
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__item {
  max-width: 280px;
  min-height: 185px;
  border: 1px solid #C9D6E0;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 424px) {
  .cards__item {
    margin: 15px;
  }
}

@media screen and (min-width: 767px) {
  .cards__item {
    max-width: 330px;
    min-height: 202px;
    padding-right: 33px;
  }
}

@media screen and (min-width: 1150px) {
  .cards__item {
    max-width: 350px;
  }
  .cards__item:first-child, .cards__item:nth-child(4) {
    margin-left: 0;
  }
  .cards__item:nth-child(3), .cards__item:nth-child(6) {
    margin-right: 0;
  }
  .cards__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.cards__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
  margin: 0 26px 0 19px;
}

@media screen and (min-width: 1150px) {
  .cards__image {
    margin-right: 50px;
  }
}

.cards__image-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.cards__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #050649;
}

.offer {
  background: #F9F8FB;
  padding-top: 46px;
  padding-bottom: 50px;
}

@media screen and (min-width: 767px) {
  .offer {
    padding-top: 82px;
    padding-bottom: 79px;
  }
}

.offer__title {
  margin-bottom: 9px;
}

@media screen and (min-width: 767px) {
  .offer__title {
    margin-bottom: 37px;
  }
}

.offer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 767px) {
  .offer__container {
    margin-top: -30px;
  }
}

@media screen and (min-width: 1110px) {
  .offer__container {
    margin-top: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.offer__items {
  max-width: 280px;
  min-height: 100px;
  font-size: 18px;
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__items::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: url("../images/before_element.svg");
}

@media screen and (min-width: 475px) {
  .offer__items {
    margin: 30px 15px 0 15px;
  }
}

@media screen and (min-width: 767px) {
  .offer__items {
    max-width: 284px;
    margin: 44px 38px 0 38px;
  }
}

@media screen and (min-width: 1110px) {
  .offer__items {
    margin-left: 0;
    margin-right: 0;
  }
}

.offer__items-text {
  padding-left: 40px;
}

.map {
  padding-top: 0;
  background: #fff;
}

@media screen and (min-width: 767px) {
  .map {
    padding-top: 34px;
  }
}

.map__title {
  padding-top: 46px;
  padding-bottom: 32px;
}

@media screen and (min-width: 767px) {
  .map__title {
    fpadding-top: 80px;
    padding-bottom: 59px;
  }
}

.map__image {
  min-width: 278px;
  max-width: 849px;
  margin: 0 auto;
}

.map__image-img {
  width: 100%;
}

.connection {
  padding-bottom: 56px;
  border-bottom: 1px solid #EAE8ED;
}

@media screen and (min-width: 767px) {
  .connection {
    padding-bottom: 151px;
  }
}

@media screen and (min-width: 1110px) {
  .connection {
    padding-bottom: 85px;
  }
}

.connection__title {
  padding-top: 56px;
  padding-bottom: 21px;
}

@media screen and (min-width: 767px) {
  .connection__title {
    padding-top: 156px;
    padding-bottom: 37px;
  }
}

@media screen and (min-width: 1110px) {
  .connection__title {
    padding-top: 111px;
  }
}

.form {
  min-width: 280px;
  max-width: 539px;
  margin: 0 auto;
  text-align: center;
}

.form__item {
  min-width: 280px;
  max-width: 539px;
  margin-bottom: 10px;
}

.form__label {
  font-size: 18px;
}

.form__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 5px;
  background: #F9F9F9;
}

.form__input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8282A4;
  font-size: 12px;
  line-height: 15px;
}

.form__input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8282A4;
  font-size: 12px;
  line-height: 15px;
}

.form__input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8282A4;
  font-size: 12px;
  line-height: 15px;
}

.form__input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8282A4;
  font-size: 12px;
  line-height: 15px;
}

.form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8282A4;
  font-size: 12px;
  line-height: 15px;
}

.form__button {
  font-weight: 700;
  font-size: 12px;
  width: 280px;
  padding: 12px 0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  background: -o-linear-gradient(203.37deg, #0452F0 15.09%, #02D1BF 84.91%);
  background: linear-gradient(246.63deg, #0452F0 15.09%, #02D1BF 84.91%);
}

@media screen and (min-width: 767px) {
  .form__button {
    width: 220px;
  }
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding-top: 10px;
}

.contacts {
  padding-top: 19px;
  padding-bottom: 15px;
}

@media screen and (min-width: 767px) {
  .contacts {
    padding-top: 27px;
    padding-bottom: 19px;
  }
}

@media screen and (min-width: 1110px) {
  .contacts {
    padding-bottom: 13px;
  }
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8282A4;
  font-weight: 400;
}

@media screen and (min-width: 767px) {
  .contacts__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contacts__body-text {
  margin: 0 15px 6px 15px;
}

@media screen and (min-width: 767px) {
  .contacts__body-text {
    margin: 0 0 6px 0;
  }
}

.contacts__body-text a {
  color: inherit;
}

.footer {
  background: #F3FBFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8282A4;
  padding: 25px 0 29px 0;
}

@media screen and (min-width: 767px) {
  .footer {
    padding: 35px 0 40px 0;
  }
}

@media screen and (min-width: 1110px) {
  .footer {
    padding: 26px 0 34px 0;
  }
}

.footer__body {
  text-align: center;
}

.footer__body-text {
  text-align: center;
}
